@font-face {
    font-family: 'Inter';
    font-display: block;
    font-weight: 400;
    src: local('Inter Regular'), local('Inter-Regular'), url('../font/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-display: block;
    font-weight: 700;
    src: local('Inter Bold'), local('Inter-Bold'), url('../font/Inter-Bold.ttf');
}