@font-face {
    font-family: 'Lexend Deca';
    font-display: block;
    font-weight: 400;    
    src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url('../font/LexendDeca-Regular.ttf');
}